body{
    background-color: rgb(221, 255, 247);
}

h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.presentacion{
    width: 100%;
    height: auto;
    margin: 30px;
        
}

.novedades{
        width: auto;
        height: auto;
        border-radius: 15px;
        margin: 30px;
        
        }


    
         
    
